# Ignore virtual environment
venv/
.env/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore VS Code settings
.vscode/

# Ignore data logs and outputs
*.log
*.csv
*.tsv

# Ignore Jupyter hidden files
*.nbconvert.ipynb
